@font-face {font-family: "zzglfont";
  src: url('iconfont.eot?t=1556003618797'); /* IE9 */
  src: url('iconfont.eot?t=1556003618797#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAeAAAsAAAAAESAAAAczAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCFCAqRLI5XATYCJANICyYABCAFhG0Hgjcb3A4RVaRtk32VwJ0tnLRDfXWLqIT44F64MCaff9z070sCpUnQdnM6UWSinm7Jo0ycsh2YKmFfXAmb036ZiEW+eb57LtcsU9c+oMMIcyhrnzz63N4GGvzNFhE2YQ59QTZ8ZjrzACiAgJ/2a1X1RNXfaIRGItLizOysDPM+7MMHc4mePJGg0cSsRc6siqV48UrpBwJj04H6KLAaH9HXAwHAowpxkJGjJ8rwgIOKJNTLLk7Pg6cUC26KL4Enym04lgO5Fy54mNuYCwDuiZ+ffIPuxAMwcLFQ+0q1oxZiqB2x17Gqo2JmaAO+PgXAPQlgAcQBcADZbkx5GWwq4rHkTU05bAQQQkBejLFjdn97uK3Y8+2Mvdpe5zhYf83+9hBbtufW7dZ2p4oIQmiog5qjCq2Z+C88Biw4uOBGGTwoBw8BIrzwwY8AggBxQ0gRx/dKg4Ad8UOAAHYUwQAxECzQHwQHDAHhAoaCcAPDQJQBw0F4ABlEOaCA4IG5IARgHggRmA/CC2RA+IDVIPzAWhABYB0tEAQAhMJj2gIYBDAbAfYClH5nXJMDBw/c9wrTioAZStedw/JMIghe6ShSZc8liW7Rcw1wtbmALxRwc9i6rZxHFvXtKoo859hkGAp406SWlRSg6rppKctKG7bTdZkneeu6VSOU6Ay106dMM29ZE1mzhEzkf0vjgSvvOL8vv/ccX7rS/KmryTv2DxzeHCY96MyCcwSO9wfPW+eKND1VplKNJnRMsMj8yBJ0mpKonuO/owBOfZX33a4RV76ocH7XQuMXnuuFuIksrCWmlbAsxTIUw5hXO3yUTK+bU6+Z0sTJ13Tpil7dIJVeRngiQACvs4lAlKCKsNbLiGnfdq5Y1VJUC4HUYJuuuc4LnvB03sjF3WT4xMWrTg8isAmBTPnJUudcy3jiA0+CM8xE3fl9e6NWonA29q+ylCf3+McM5dXd/n0Muf6Mf0SXtXP+YZ0+s9e/o0mL++6TqLto6B0bFC3jaFh45rhlRBpppnW5D6m/ZK8Ta/iqbh6r4p88Yv050cqCoV/oOe+U2foFa8xJo9WzOr3jlSfyj7/Mv/iqWlgwdwZdMCM5T06mu9YqNEGpLCvyArm+XYhtMJGkUmRiXZ0kOjOVmniw9OZ9ByTTkUWVkydXLoqkkwP+ONxmQ9Zo23RYj2FN7z28BJD8aYg+OJR26zE91SNJu/eSSDZDqomUzUrFapKxMJMNfEk2u2F1NlPzSlfaref0VM9ZB/dsH1xczJYYxPKZDCofdP6BAav+SsH/wsLRvseE8JH9XnH/8GL4n2N9j/4TvrJf9O63CmabuK3ASpRCyDrVdNuCoim5gqqpqanYCE60xP2ICywlh2LOX7AP/+7Uaf9P1h0utDcqSfcyR44w92oS0sCcv3nq5VLpwrr1P9kPzdFCt4b8pAEyVeNRjFZ0nN2tjL752bjlVr0+Rill1yZOkSZeLVNGWyS0ShNLpEb3iZhXOUp2X5sk2fuNUob24V33jVl9H/dsLvdsaF09pqT4UcOUPzQtqtooGKOBRY2yHK2o7A86clFqkvpNlJysKqqTE1J2mGyCnANDUYuz1SiqiuE4EaDeXAEF+sIwillU1QxHOhlrz5zVIZjQB41IdUvVdx0/vmuGVtCeiaromVTJjO/adXx981hHTN+ow/hIpvko96guF34Oqzavvz90f/2oivp5XdyljMpEQtMqy7dKY8e6XL4uxffoNU2M7Wu4LyYG1rVdB2d1/NXhU/897XBPP01CkpJSzw3rxvlSqsP5R+682Ige0CQkKSmtD0f7uxHhDw63bbjcJ4kkksiNkXOOBOB8mg+zDeMwvq4CsEXGHFkMwrGxXIBV/9041DTlMhuHYp8fzpmn5EKW2J4igs1mYoFt8V/J7dD7/rM95vgH/uYR/jhnvfXZe61ljnOhMH+pBwzg8t9EPucgbmRScSFuMLC+Ya1BIagoT2GAT8EUwNlOIj7Ytt5gbv5jrDfINQZlCAvW5NhWcDjGNRcE9BRuHIdoPGIYc7KACqwEC8KVA4jiJjSCAHZpDHw4LFgcLwoOx/c1FxriO4sbT8JqPCipOKeA9oRu9UqoGGc5HaWDnLRXjVenkwlJ/S8026CoaIr9/5Cqy5dD21fLPzEhreOAujMjs5aacpQf1s0whCwL5Q0Ct5a5rLtOmx7QQo5iJV4JFeMsTccwtIOcdBGvxElnmFBTX+iKLTMrmtKtCP2HVN3qpUGrn8P2U6a5ut0XVXeoEUulpV9EOab6x3IKgy7JUjFvtUHgll2iqKx1Yjg9r2yPUo+3vgC9UIeHLqTSdMO0/l6eZDuu5795+85SlVIb7UJYpV2cLYNLeD4pgjyj6UO5B4vgp3xowBGELlsk+gJWcn5o5NKMjBSJUzxXrZVFRbxJnhnw+6dGXIwqKqjUNBsGTLS5rMjsktnTkmVlRV2esrr9GT++GCEA') format('woff2'),
  url('iconfont.woff?t=1556003618797') format('woff'),
  url('iconfont.ttf?t=1556003618797') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1556003618797#zzglfont') format('svg'); /* iOS 4.1- */
}

.zzglfont {
  font-family: "zzglfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.apps-fill:before {
  content: "\e729";
}

.apps--fill:before {
  content: "\e72a";
}

.apps--line:before {
  content: "\e72b";
}

.barcode-fill:before {
  content: "\e73a";
}

.checkbox-circle-fill:before {
  content: "\e73f";
}

.checkbox-circle-line:before {
  content: "\e740";
}

.checkbox-line:before {
  content: "\e741";
}

.checkbox-indeterminate-line:before {
  content: "\e742";
}

.heart-fill:before {
  content: "\e754";
}

.heart-line:before {
  content: "\e755";
}

.qr-code-fill:before {
  content: "\e760";
}

.qr-scan--line:before {
  content: "\e761";
}

.qr-scan-line:before {
  content: "\e762";
}

.settings--line:before {
  content: "\e76b";
}

.star-fill:before {
  content: "\e774";
}

.star-line:before {
  content: "\e776";
}

.star-s-fill:before {
  content: "\e777";
}

